.report {
    background-color: white;
    border-radius: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.noLight:hover, .noLight:focus{
    background-color: inherit !important;
    color: inherit !important;
}