:root {
    --gym-color: rgb(255, 208, 0);
}

body {
    background-color: transparent;
}

.table.table-sm {
    border-color: var(--gym-color);
    border-radius: 8px;
    background-color: white;
    overflow: hidden;
}

.table.table-sm th {
    background-color: var(--gym-color);
}

.table.table-sm td {
    background-color: transparent;
}